version: "3"
services:

  mysqldb-container:
    image: mysql
    container_name: mysqldb-container
    volumes:
      - mysql-data:/var/lib/mysql
    ports:
      - "3306:3306"
    hostname: mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root

  RideBuddies-container:
    image: swaraj1998/ridebuddies
    container_name: RideBuddies-container
    tty: true
    ports:
      - "8082:8080"
    links:
      - mysqldb-container
    depends_on:
      - mysqldb-container

volumes:
  mysql-data:
    driver: local